@import "tailwindcss";

@theme {
    --color-1: #F2B6EE;
    --color-2: #BFA7F2;
    --color-3: #261E59;
    --color-4: #2D2A8C;
    --color-5: #4541BF;

    --color-6: #261c5a;
    --color-7: #f7e5fa;
    --color-8: #4a328e;
    --color-9: #cca6ed;
    --color-10: #926bc9;
}

/* @utility surface {} */

@layer base {
    :root {
        color-scheme: light dark;
    }

    html, body {
        background-color: light-dark(var(--color-white), var(--color-black));
        color: light-dark(var(--color-black), var(--color-white));
    }
}
